<h1 class="text-center">Add New Cocktail</h1>

<br>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'form', cocktail: @cocktail %>
      <button class="btn" type="button"> <%= link_to 'Back', cocktails_path %> </button>
    </div>
  </div>
</div>

<br>

